<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTAM_Module__AR_3D_Modeler_.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <PTAM_Module__AR_3D_Modeler_.Configuration>
            <setting name="HUBNotifierChannel" serializeAs="String">
                <value>HUBNotifierChannel</value>
            </setting>
            <setting name="ModelerNotifierChannel" serializeAs="String">
                <value>ModelerNotifierChannel</value>
            </setting>
            <setting name="MMFFileName" serializeAs="String">
                <value>PTAMSourceImage</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
        </PTAM_Module__AR_3D_Modeler_.Configuration>
    </applicationSettings>
</configuration>